body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-message {
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 30%;
  max-height: 30%;
}

.messages-container {
  height: 65%;
  max-height: 65%;
  overflow: auto;
}

.namespaces-container {
  background-color: #A0A0A0;
}

.namespace {
  margin-bottom: 10px;
}

.rooms-container, .chat-container, .namespaces-container {
  padding: 10px 5px;
}

.ns-active {
  border: 2px solid black !important;
}